*{
    box-sizing: border-box;
}

body{
    background-color: #f3cd66;
    background-image: linear-gradient(to right, #f3cd66,#f3cd66 18%,#f0c348 18%,#f0c348 82%,#f3cd66 82%);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main{
    width: 70vw;
    height: 100%;
    margin: auto; 
    padding-top: 50px;
    text-align: center;   
    color: #2600ff;
}

h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 20px;
}

#info,
#score,
#results,
#winner{
    height: 45px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 20px;
}

#info{
    line-height: 1.3;
}

.play-buttons{
    display: flex;
    margin: 40px 40px;
    justify-content: space-around;
}

.btn{
    width: 180px;
    height: 50px;
    font-family: inherit;
    font-size: 20px;
    background-color: #f0b617;
    border: 2px solid #2600ff;
    border-radius: 30px;
    color: #2600ff;
    transition: background-color 0.5s ease;
}

.btn:hover{
    background-color: #2600ff;
    color: #f0b617;
}

.btn:focus{
    outline: none;
}

@media only screen and (max-width: 640px){
    .play-buttons{
        flex-direction: column;
        align-items: center;
        height: 13em;
    }
}